<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260492813683-vi5lbq1tsn9sef069fjl86vo3dqpgs8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260492813683-vi5lbq1tsn9sef069fjl86vo3dqpgs8s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260492813683-j43nlruna48ehc08fr3qohc9usb2j1it.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs04BsY7-Y-_QIlFY4jvRRbDckkv3jwL8</string>
	<key>GCM_SENDER_ID</key>
	<string>260492813683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikkchat.app</string>
	<key>PROJECT_ID</key>
	<string>tikchat-874b7</string>
	<key>STORAGE_BUCKET</key>
	<string>tikchat-874b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260492813683:ios:da0ce460eae64607d99106</string>
</dict>
</plist>